div.image_KizKulesi{
	background-image:url(./images/KizKulesi.jpg);
	/* background-repeat: no-repeat; */
	/* background-position: center; */
	/* background-size: auto; */
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* max-width:100%;
	max-height: 100%; */
}

div.bosluklariKaldir{
	margin: 0px;
	padding: 0px;
}

div.MenuButonKonum{
	 position: relative;
	 margin-top : 50px;
  	left: 20px;
  	top: 20px;
	opacity = 0.4;
}

button.ButonSekil{
	background-color: transparent;
	border-color: transparent; 
	color:black;
}

div.MenuKonum{
	margin-top: 200px;
	margin-left: 80px;
	margin-bottom: 200px;
}