div.image_KizKulesi{
	content:url('KizKulesi.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	opacity: 0.3;
	
}

div.bosluklariKaldir{
	margin: 0px;
	padding: 0px;
}

div.MenuButonKonum{
	 position: relative;
  	left: 20px;
  	top: 20px;
	opacity = 0.4;
}

