div.image_KizKulesi{
	background-image:url(KizKulesi.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	
}

div.bosluklariKaldir{
	margin: 0px;
	padding: 0px;
}

div.MenuButonKonum{
	 position: relative;
  	left: 20px;
  	top: 20px;
	opacity = 0.4;
}

button.ButonSekil{
	background-color: transparent;
	border-color: transparent; 
	color:black;
}

